.BuildControls {
    width: 100%;
    background-color: orange;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 4px 2px #aaaaaa;
    margin: auto;
    padding: 10px 0;
}